// VARIABLES
@import 'variables';

// VENDOR
@import 'modularscale';

// FUNCTIONS
@import 'functions/tint-shade';

// MIXINS
@import 'mixins/center-box';
@import 'mixins/clearfix';
@import 'mixins/media-queries';

// BASIC STYLES
@import 'support/normalize';
@import 'support/base';
@import 'support/helpers';
@import 'support/layout';
@import 'support/animations';

// COMPONENTS
@import 'components/header';
@import 'components/card';


