<!doctype html>
<html lang="en" prefix="og: http://ogp.me/ns#">
  <head>

    {% include "_shared/head.html" %}

  </head>

  <body>

    {% include "_shared/header.html" %}

    <main role="main">

      <div class="wrap-small margin-top-2">
        {% include "_widgets/manifesto.html" %}
      </div>

      <div class="margin-top-6">
        {% include "_widgets/authors.html" %}
      </div>

      <div class="wrap margin-top-6">
        {% include "_widgets/books.html" %}
      </div>

    </main>

    {% include "_shared/footer.html" %}
    {% include "_shared/global-scripts.html" %}

  </body>

</html>
