.books {


  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
  }


  li {
    font-size: ms(0);
    margin-bottom: $spacing;
    margin-right: 2%;
    text-align: right;
    width: 48%;

    &:nth-of-type(2n) {
      text-align: left;
      margin-right: 0;
      margin-left: 2%;
    }
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  .book__year {
    font-size: ms(-1);
    vertical-align: middle;
    color: tint($baseColor, 15%);
  }

  .book__title {
    display: block;
    line-height: 1.5;
    font-size: ms(-1);
    color: shade($brandColor, 25%);
  }

}
