.footer {

  padding: $spacing*2 $spacing;

}

.suggestions {

}

.github-logo {
  display: block;
  margin-top: $spacing/4;
}

.github-logo img {
  vertical-align: middle;
  max-width: 112px;
  opacity: 0.75;
  transition: all 0.75s ease-in-out;

  &:hover {
    opacity: 1;
  }
}
