.header {
  text-align: center;
  padding: $spacing/2 $spacing;
  height: 76vh;
  position: relative;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  // align-items: center;
  justify-content: center;

  &:after {
    @include absoluteFill;
    background-image: url('../img/bg-map.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.1;
    z-index: -1;
  }

  .header__bar {
    display: flex;
    align-items: center;
    width: 100%;
    align-self: flex-start;
  }

  .header__logo {
    width: percentage(1/2);
    text-align: left;
  }

  .header__subscribe {
    width: percentage(1/2);
    text-align: right;

    a {
      text-transform: uppercase;
      text-decoration: none;
      font-size: ms(-1);
      font-weight: $baseBold;
    }
  }

  .header__intro {
    margin-bottom: $spacing*2;
    text-shadow: 0px 0px 3px white;
  }

  .source a {
    position: absolute;
    right: $spacing/2;
    bottom: $spacing/2;
    font-size: ms(-2);
    text-transform: uppercase;
    text-decoration: none;
    font-weight: $baseBold;
    opacity: 0.65;
    color: inherit;
  }

}
