.intro {

  h1 {
    font-weight: $headingBold;
    font-size: ms(1);
    text-transform: uppercase;
  }

  p {
    font-size: ms(1);
    // font-weight: $baseBold;
    margin-top: $spacing/2;
  }

  .intro__headline p {
    font-size: ms(1);
    font-weight: $baseBold;
    margin-top: $spacing;
  }
}
