$logo-width: 156px;
$logo-width-large: 256px;

.logo {
  // text-align: left;

  img {
    width: $logo-width;
    vertical-align: middle;
    @include mq-tablet {
      width: $logo-width-large;
    }
  }

  svg path {
    // stroke: $brandColor;
    // stroke-width: 6;
  }
}
