$logo-width: 128px;
$logo-width-large: 172px;

.logo {

  svg {
    width: $logo-width;
    vertical-align: middle;
    @include mq-tablet {
      width: $logo-width-large;
    }
  }

  svg path {
    stroke: $brandColor;
    stroke-width: 6;
  }
}
