$cardWitdhMobile: 90%;
$cardWidth: 32rem;
$cardWidthMobileExpanded: 95%;
$cardWidthExpanded: 48rem;

.manifesto {

}

.manifesto .card {
  counter-increment: section-counter;
  margin-bottom: $spacing*0.75;
  transition: all 0.55s ease-in;

  .card__header {
    transition: all 0.55s $easingCubic;
    text-align: left;

    &:before {
      content: counter(section-counter);
      text-align: center;
      font-size: ms(2);
      color: tint($gray, 25%);
      transition: all 0.55s $easingCubic;
      margin-right: $spacing/2;
    }

  }

  .card__title {
    color: tint($baseColor, 25%);
    transition: all 0.55s $easingCubic;
  }
}

.manifesto__prompt {
  text-align: center;
  margin-top: $spacing*2;

  a {
    text-decoration: none;
  }
}


// LAYOUT
.manifesto .card__header {
  align-items: center;
  display: flex;
  flex-wrap: wrap;

  &:before {
    width: percentage(1/12);
  }

  .card__title {
    width: percentage(10/12);
  }

  .card__toggle {
    width: percentage(1/12);
  }
}
