$input-height: 2.35rem;
$input-radius: 0.15rem;
$input-border: 1px solid transparent;

.newsletter {
  background-color: shade($brandColor, 15%);
  border: 1px solid shade($brandColor, 35%);
  border-radius: 0.25rem;
  max-width: $wrapWidthSmall;
  padding: $spacing $spacing*2 $spacing*2 $spacing*2;
  text-align: center;
  @include centerBox;

  @include mq-tablet {
    padding: $spacing $spacing*3 $spacing*2 $spacing*3;
  }

  form {
    padding: 0;
    margin: 0;
  }
}

.newsletter__title {
  margin: 0;
  font-size: ms(1);
  color: white;
}

.newsletter__headline {
  margin-top: $spacing/4;
  color: white;
}


.newsletter__input {
  margin-top: $spacing;
  display: flex;
  align-items: stretch;

  .email {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border-bottom-left-radius: $input-radius;
    border-top-left-radius: $input-radius;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border: $input-border;
    display: inline-block;
    font-size: 16px;
    height: $input-height;
    line-height: $input-height;
    margin: 0;
    outline: 0;
    padding-bottom: 0;
    padding-left: $spacing/4;
    transition: all 0.35s;
    width: percentage(2/3);

    &::-webkit-input-placeholder {
      color: tint($baseColor, 55%);
    }

    &:focus {
      border-color: shade($bgColor, 30%);
    }
  }

  .button {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: shade($brandColor, 45%);
    border-bottom-right-radius: $input-radius;
    border-top-right-radius: $input-radius;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border: $input-border;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: ms(-1);
    height: $input-height;
    letter-spacing: 0.05rem;
    outline: 0;
    text-transform: uppercase;
    transition: all 0.35s;
    width: percentage(1/3);

    &:focus {
      background-color: shade($brandColor, 55%);
      border-color: shade($brandColor, 55%);
    }

    &:hover {
      background-color: shade($brandColor, 65%);
      border-color: shade($brandColor, 55%);
    }
  }

}
