.quote-slider__slider {

  &.slick-initialized .slick-slide {
    float: none;
    display: inline-block;
    vertical-align: middle;
  }

  .carousel-cell {
    width: 100%;

    &:focus {
      outline: 0;
    }
  }

  .quote {
    margin: 0;
    padding: 0;
    padding: $spacing*2 $spacing*5 $spacing*3 $spacing*5;
  }

  .quote__text {

    line-height: 1.75;
    font-style: italic;
    text-align: center;
    font-size: ms(1);

    &:before {
      content: '\201c';
    }

    &:after {
      content: '\201d';
    }
  }

  .quote__meta {
    text-align: center;
    margin-bottom: $spacing/2;
  }

  .book {
    color: $gray;
  }

}

$gradinet-color: white;
$gradient-width: 85%;

.quote-slider__nav {
  position: relative;
  // padding-bottom: $spacing*2;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
    background-image:
    linear-gradient(
        to left,
        rgba($gradinet-color, 0) $gradient-width,
        rgba($gradinet-color, 1) 100%
    ),
    linear-gradient(
        to right,
        rgba($gradinet-color, 0) $gradient-width,
        rgba($gradinet-color, 1) 100%
    );
  }

  .carousel-cell {
    // padding: 0 $spacing;

    &:focus {
      outline: 0;
    }
  }

  .slick-current {
    .author {
      background-color: white;
      opacity: 1;
      border-color: $gray-light;
      border-bottom-color: white;
      transition: all 0.75s $easingCubic;
    }
    .author__name {
      font-weight: $baseBold;
    }
  }
}

$author-radius: 0.35rem;

.author {
  align-items: stretch;
  background-color: $gray-light;
  padding-bottom: $spacing/4;
  // border-radius: $author-radius;
  // border: 1px solid transparent;
  text-align: center;
  width: 100%;
  opacity: 0.35;
  transition: all 0.75s $easingCubic;
  cursor: pointer;
  max-width: 212px;

  .author__image {
    // text-align: left;
    // margin-right: $spacing/2;
    // max-width: 156px;
    // width: 100%;
    img {
      margin: 0;
      // border-radius: $author-radius;
      // max-width: 112px;
      width: 100%;
      // border-top-left-radius: $author-radius;
      // border-top-right-radius: $author-radius;
    }
  }

  .author__meta {
    text-align: center;
    margin-top: $spacing/4;
    // display: flex;
    // align-items: center;
  }

  .author__name {
    font-size: ms(0);
  }

}
