<section class="bg-secondary">

  <h2 class="visually-hidden">Inspiration</h2>

  <!-- QUOTE-NAV -->
  <div class="slider-author">
    {% for author in authors %}
      <div class="slider-author__cell">
        <div class="author">
          <div class="author__image">
            <img src="{{ author.author_image_url }}" alt="{{ author.author }}">
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  <!-- /QUOTE-NAV -->

  <!-- QUOTES -->
  <div class="slider-quote">
    {% for author in authors %}
      <div class="slider-quote__cell">
        <article class="quote">
          <h3 class="quote__author">{{ author.author }}</h3>
          <div class="wrap">
            <blockquote class="quote__text">
              {{ author.quote }}
            </blockquote>
          </div>
          {% if author.book %}
            <div class="quote__book">
              <a href="{{ author.book_url }}" target="_blank">{{ author.book }} ({{ author.book_year }})</a>
            </div>
          {% endif %}
        </article>
      </div>
    {% endfor %}
  </div>
  <!-- /QUOTES -->

</section>
