html {
  font-size: 75%;

  @include mq-tablet {
    font-size: 85%;
  }

  @include mq-desktop {
    font-size: 100%;
  }
}

body {
  background-color: $bgColor;
  color: $baseColor;
  font-family: $baseFont;
  font-size: ms(0);
  font-weight: $baseWeight;
  line-height: 1.5;
  margin: 0;
}

h1,
h2,
h3,
h4 {
  color: tint($baseColor, 5%);
  font-family: $headingFont;
  font-weight: $headingWeight;
  line-height: 1.25;
}

h1 {
  font-size: ms(2);
  margin: 0;
}


h2 {
  font-size: ms(1);
}

h3 {
  font-size: ms(1);
  margin: 0;
  padding: 0;
}

a {
  color: $brandColor;
  transition: color 0.35s $easingCubic;

  &:hover {
    color: shade($brandColor, 25%);
  }
}

img {
  display: inline-block;
}

p {
  // line-height: 1.5;
  margin: 0;
}

p + p {
  margin-top: $spacing/2;
}

strong {
  font-weight: $baseBold;
}

h1 strong,
h2 strong,
h3 strong,
h4 strong {
  font-weight: $headingBold;
}
