<footer class="footer" role="contentinfo">
  <div class="wrap">
    <h2 class="margin-top-4 ta-center uppercase">How can you contribute?</h2>

    <div class=" ta-center">
      {% include "../_text/contributions.html" %}
    </div>


    <div class="wrap margin-top-6">
      {% include "../_widgets/books.html" %}
    </div>

    <div class="ta-center margin-top-4">
      <p class="fs-small">Check out the project on</p>
      <a class="github-logo" href="{{ site.repo }}" target="_blank" title="Check out CityDesigner.org GitHub repository"><img src="/assets/img/github-logo.svg" alt="GitHub logo" /></a>
    </div>

    <!-- <p class="colophon fs-small ta-center margin-bottom-2">A project by <a href="http://iljapanic.me" target="_blank" title="visit Ilja's site">Ilja Panic</a></p> -->
  </div>
</footer>
